{% extends "base.html" %}

{% block content %}
<section>
    <div class="container justify-content-center">
        <div class="row mt-3 mb-3">
            <h2>{{ article.title }}</h2>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h6>Tore</h6>
                <div class="row mb-2">
                    <div class="card align-items-center p-2 m-2">
                        <small>Tore</small>
                        <div>{{article.goals}}</div>
                    </div>
                    <div class="card align-items-center p-2 m-2">
                        <small>Tore pro Spiel</small>
                        <div>{{article.goals_per_game}}</div>
                    </div>
                    <div class="card align-items-center p-2 m-2">
                        <small>Heim Tore</small>
                        <div>{{article.goals_home}}</div>
                    </div>
                    <div class="card align-items-center p-2 m-2">
                        <small>Auswärts Tore</small>
                        <div>{{article.goals_away}}</div>
                    </div>
                </div>
                <small>pro Drittel</small>
                <div class="row">
                    <div class="card align-items-center p-2 m-2">
                        <small>1. Drittel</small>
                        <div>{{article.goals_in_first_period}}</div>
                    </div>
                    <div class="card align-items-center p-2 m-2">
                        <small>2. Drittel</small>
                        <div>{{article.goals_in_second_period}}</div>
                    </div>
                    <div class="card align-items-center p-2 m-2">
                        <small>3. Drittel</small>
                        <div>{{article.goals_in_third_period}}</div>
                    </div>
                    <div class="card align-items-center p-2 m-2">
                        <small>Overtime</small>
                        <div>{{article.goals_in_overtime}}</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h6>Gegentore</h6>
                <div class="row mb-2">
                    <div class="card align-items-center p-2 m-2">
                        <small>Gegentore</small>
                        <div>{{article.goals_against}}</div>
                    </div>
                    <div class="card align-items-center p-2 m-2">
                        <small>Gegentore pro Spiel</small>
                        <div>{{article.goals_against_per_game}}</div>
                    </div>
                    <div class="card align-items-center p-2 m-2">
                        <small>Heim Gegentore</small>
                        <div>{{article.goals_against_home}}</div>
                    </div>
                    <div class="card align-items-center p-2 m-2">
                        <small>Auswärts Gegentore</small>
                        <div>{{article.goals_against_away}}</div>
                    </div>
                </div>

                <small>pro Drittel</small>
                <div class="row">
                    <div class="card align-items-center p-2 m-2">
                        <small>1. Drittel</small>
                        <div>{{article.goals_in_first_period_against}}</div>
                    </div>
                    <div class="card align-items-center p-2 m-2">
                        <small>2. Drittel</small>
                        <div>{{article.goals_in_second_period_against}}</div>
                    </div>
                    <div class="card align-items-center p-2 m-2">
                        <small>3. Drittel</small>
                        <div>{{article.goals_in_third_period_against}}</div>
                    </div>
                    <div class="card align-items-center p-2 m-2">
                        <small>Overtime</small>
                        <div>{{article.goals_in_overtime_against}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 20px">
            <div class="col-lg-6">
                <h6>Powerplay</h6>
                <div class="row mb-2">
                    <div class="card align-items-center p-2 m-2">
                        <small>PP Effizienz</small>
                        <div>{{article.powerplay_efficiency[0:5]}}</div>
                    </div>
                    <div class="card align-items-center p-2 m-2">
                        <small>Tore in PP</small>
                        <div>{{article.goals_in_powerplay}}</div>
                    </div>
                    <div class="card align-items-center p-2 m-2">
                        <small>PPs</small>
                        <div>{{article.powerplay}}</div>
                    </div>
                    <div class="card align-items-center p-2 m-2">
                        <small>PP pro Spiel </small>
                        <div>{{article.powerplay_per_game}}</div>
                    </div>
                </div>
                <small>pro Drittel</small>
                <div class="row">
                    <div class="card align-items-center p-2 m-2">
                        <small>1. Drittel</small>
                        <div>{{article.powerplay_first_period}}</div>
                    </div>
                    <div class="card align-items-center p-2 m-2">
                        <small>2. Drittel</small>
                        <div>{{article.powerplay_second_period}}</div>
                    </div>
                    <div class="card align-items-center p-2 m-2">
                        <small>3. Drittel</small>
                        <div>{{article.powerplay_third_period}}</div>
                    </div>
                    <div class="card align-items-center p-2 m-2">
                        <small>Overtime</small>
                        <div>{{article.powerplay_overtime}}</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h6>Boxplay</h6>
                <div class="row mb-2">

                    <div class="card align-items-center p-2 m-2">
                        <small>Box Effizienz</small>
                        <div>{{article.boxplay_efficiency[0:5]}}</div>
                    </div>
                    <div class="card align-items-center p-2 m-2">
                        <small>Gegentore in Box</small>
                        <div>{{article.goals_against_in_boxplay}}</div>
                    </div>
                    <div class="card align-items-center p-2 m-2">
                        <small>Boxplays</small>
                        <div>{{article.boxplay}}</div>
                    </div>
                    <div class="card align-items-center p-2 m-2">
                        <small>Box pro Spiel </small>
                        <div>{{article.boxplay_per_game}}</div>
                    </div>
                </div>
                <small>pro Drittel</small>
                <div class="row">
                    <div class="card align-items-center p-2 m-2">
                        <small>1. Drittel</small>
                        <div>{{article.boxplay_first_period}}</div>
                    </div>
                    <div class="card align-items-center p-2 m-2">
                        <small>2. Drittel</small>
                        <div>{{article.boxplay_second_period}}</div>
                    </div>
                    <div class="card align-items-center p-2 m-2">
                        <small>3. Drittel</small>
                        <div>{{article.boxplay_third_period}}</div>
                    </div>
                    <div class="card align-items-center p-2 m-2">
                        <small>Overtime</small>
                        <div>{{article.boxplay_overtime}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 20px">
            <div class="col-lg-6">
                <h6>Special Tore</h6>
                <div class="row mb-2">
                    <div class="card align-items-center p-2 m-2">
                        <small>Führungstor</small>
                        <div>{{article.leading_goals}}</div>
                    </div>
                    <div class="card align-items-center p-2 m-2">
                        <small>Ausgleich</small>
                        <div>{{article.equalizer_goals}}</div>
                    </div>
                     <div class="card align-items-center p-2 m-2">
                        <small>Erstes Tor im Spiel</small>
                        <div>{{article.first_goal_of_match}}</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h6>Special Gegentore</h6>
                <div class="row mb-2">
                    <div class="card align-items-center p-2 m-2">
                        <small>Führungsgegentor</small>
                        <div>{{article.leading_goals_against}}</div>
                    </div>
                    <div class="card align-items-center p-2 m-2">
                        <small>Ausgleich</small>
                        <div>{{article.equalizer_goals_against}}</div>
                    </div>
                     <div class="card align-items-center p-2 m-2">
                        <small>Erstes Gegentor im Spiel</small>
                        <div>{{article.first_goal_of_match_against}}</div>
                    </div>
                </div>
            </div>
        </div>


         <div class="row" style="margin-top: 20px">
             <div class="col-lg-6">
                <h6>Punkte</h6>
                <div class="row mb-2">
                    <div class="card align-items-center p-2 m-2">
                        <small>Punkte</small>
                        <div>{{article.points}}</div>
                    </div>
                    <div class="card align-items-center p-2 m-2">
                        <small>Heim Punkte</small>
                        <div>{{article.home_points}}</div>
                    </div>
                    <div class="card align-items-center p-2 m-2">
                        <small>Auswärts Punkte</small>
                        <div>{{article.away_points}}</div>
                    </div>
                     <div class="card align-items-center p-2 m-2">
                        <small>Punkte pro Spiel</small>
                        <div>{{article.points_per_game}}</div>
                    </div>
                </div>
            </div>
             <div class="col-lg-6">
                <h6>Spiele</h6>
                <div class="row mb-2">
                    <div class="card align-items-center p-2 m-2">
                        <small>Siege</small>
                        <div>{{article.wins}}</div>
                    </div>
                    <div class="card align-items-center p-2 m-2">
                        <small>Unentschieden</small>
                        <div>{{article.draws}}</div>
                    </div>
                     <div class="card align-items-center p-2 m-2">
                        <small>Niederlagen</small>
                        <div>{{article.losses}}</div>
                    </div>
                    <div class="card align-items-center p-2 m-2">
                        <small>Overtime Sieg</small>
                        <div>{{article.over_time_wins}}</div>
                    </div>
                    <div class="card align-items-center p-2 m-2">
                        <small>Overtime Niederlage</small>
                        <div>{{article.over_time_losses}}</div>
                    </div>
                </div>
            </div>
         </div>
         <div class="row" style="margin-top: 20px">
             <div class="col-lg-6">
                 <h6>Punkte nach Drittel</h6>
                 <div class="row mb-2">

                    <div class="card align-items-center p-2 m-2">
                        <small>1. Drittel</small>
                        <div>{{article.points_after_first_period}}</div>
                    </div>
                    <div class="card align-items-center p-2 m-2">
                        <small>2. Drittel</small>
                        <div>{{article.points_after_second_period}}</div>
                    </div>
                     <div class="card align-items-center p-2 m-2">
                        <small>Nach 55 Min</small>
                        <div>{{article.points_after_55_min}}</div>
                     </div>
                     <div class="card align-items-center p-2 m-2">
                        <small>Spielende</small>
                        <div>{{article.points}}</div>
                     </div>
                 </div>
             </div>
             {%if article.tags  %}
             <div class="col-lg-6">
                 <h6>Punkte gegen Teams</h6>
                 <div>
                     {% for points_team in article.tags %}
                    <div>{{points_team}}</div>
                     {% endfor %}
                 </div>
             </div>
             {% endif %}
        </div>

    </div>
</section>
{% endblock content %}