{% extends "base.html" %}

{% block content %}
<section>
    <div class="container justify-content-center">
        <div class="row mt-5 m-2"></div>
        <div class="row mt-5 ml-2">
            <h2>{{ article.title }}</h2>
        </div>
        <div class="row m-2">
            <h3>Tore</h3>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col" data-toggle="tooltip" title="Tore">T</th>
                    <th scope="col" data-toggle="tooltip" title="Gegentore">G</th>
                    <th scope="col" data-toggle="tooltip" title="Differenz">+/-</th>
                    <th scope="col" data-toggle="tooltip" title="Tore pro Spiel">TpS</th>
                    <th scope="col" data-toggle="tooltip" title="Gegentore pro Spiel">GpS</th>
                    <th scope="col" data-toggle="tooltip" title="Differenz pro Spiel">+/-</th>
                    <th scope="col" data-toggle="tooltip" title="Scoring Ratio">SR</th>
                    <th scope="col" data-toggle="tooltip" title="Heimtore">HT</th>
                    <th scope="col" data-toggle="tooltip" title="Heimgegentore">HG</th>
                    <th scope="col" data-toggle="tooltip" title="Auswärtstore">AT</th>
                    <th scope="col" data-toggle="tooltip" title="Auswärtsgegentore">AG</th>
                    <th scope="col" data-toggle="tooltip" title="Tore 1. Drittel">T_1</th>
                    <th scope="col" data-toggle="tooltip" title="Tore 2. Drittel">T_2</th>
                    <th scope="col" data-toggle="tooltip" title="Tore 3. Drittel">T_3</th>
                    <th scope="col" data-toggle="tooltip" title="Tore Overtime">T_O</th>
                    <th scope="col" data-toggle="tooltip" title="Gegentore 1. Drittel">G_1</th>
                    <th scope="col" data-toggle="tooltip" title="Gegentore 2. Drittel">G_2</th>
                    <th scope="col" data-toggle="tooltip" title="Gegentore 3. Drittel">G_3</th>
                    <th scope="col" data-toggle="tooltip" title="Gegentore Overtime">G_O</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{article.goals}}</td>
                    <td>{{article.goals_against}}</td>
                    <td>{{article.goal_difference}}</td>
                    <td>{{article.goals_per_game}}</td>
                    <td>{{article.goals_against_per_game}}</td>
                    <td>{{article.goal_difference_per_game}}</td>
                    <td>{{article.scoring_ratio}}</td>
                    <td>{{article.goals_home}}</td>
                    <td>{{article.goals_against_home}}</td>
                    <td>{{article.goals_away}}</td>
                    <td>{{article.goals_against_away}}</td>
                    <td>{{article.goals_in_first_period}}</td>
                    <td>{{article.goals_in_second_period}}</td>
                    <td>{{article.goals_in_third_period}}</td>
                    <td>{{article.goals_in_overtime}}</td>
                    <td>{{article.goals_in_first_period_against}}</td>
                    <td>{{article.goals_in_second_period_against}}</td>
                    <td>{{article.goals_in_third_period_against}}</td>
                    <td>{{article.goals_in_overtime_against}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row m-2" >
            <h3>Punkte</h3>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col" data-toggle="tooltip" title="Punkte">P</th>
                    <th scope="col" data-toggle="tooltip" title="Punkte pro Spiel">PpS</th>
                    <th scope="col" data-toggle="tooltip" title="Heimpunkte">HP</th>
                    <th scope="col" data-toggle="tooltip" title="Auswärtspunkte" >AP</th>
                    <th scope="col" data-toggle="tooltip" title="Siege">S</th>
                    <th scope="col" data-toggle="tooltip" title="Unentschieden">U</th>
                    <th scope="col" data-toggle="tooltip" title="Niederlagen">N</th>
                    <th scope="col" data-toggle="tooltip" title="Overtime Siege">SO</th>
                    <th scope="col" data-toggle="tooltip" title="Overtime Niederlagen">NO</th>
                    <th scope="col" data-toggle="tooltip" title="Sieg +1 Tor">S+1</th>
                    <th scope="col" data-toggle="tooltip" title="Niederlage -1 Tor">N-1</th>
                    <th scope="col" data-toggle="tooltip" title="Punkte nach 20 min">P_20min</th>
                    <th scope="col" data-toggle="tooltip" title="Punkte nach 40 min">P_40min</th>
                    <th scope="col" data-toggle="tooltip" title="Punkte nach 55 min">P_55min</th>
                    <th scope="col" data-toggle="tooltip" title="Punkte nach 58 min">P_58min</th>
                    <th scope="col" data-toggle="tooltip" title="Punkte nach 59 min">P_59min</th>
                    <th scope="col" data-toggle="tooltip" title="Siege knappe Spiele">S*</th>
                    <th scope="col" data-toggle="tooltip" title="Niederlage knappe Spiele">N*</th>
                    <th scope="col" data-toggle="tooltip" title="Punkte aus knappen Spielen">P*</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{article.points}}</td>
                    <td>{{article.points_per_game}}</td>
                    <td>{{article.home_points}}</td>
                    <td>{{article.away_points}}</td>
                    <td>{{article.wins}}</td>
                    <td>{{article.draws}}</td>
                    <td>{{article.losses}}</td>
                    <td>{{article.over_time_wins}}</td>
                    <td>{{article.over_time_losses}}</td>
                    <td>{{article.win_1}}</td>
                    <td>{{article.loss_1}}</td>
                    <td>{{article.points_after_first_period}}</td>
                    <td>{{article.points_after_second_period}}</td>
                    <td>{{article.points_after_55_min}}</td>
                    <td>{{article.points_after_58_min}}</td>
                    <td>{{article.points_after_59_min}}</td>
                    <td>{{article.close_game_win}}</td>
                    <td>{{article.close_game_loss}}</td>
                    <td>{{article.points_max_difference_3}}</td>
                </tr>
                </tbody>
            </table>

        </div>

        <div class="row m-2">
            <h3>Special Teams</h3>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col" data-toggle="tooltip" title="Powerplay Tore">PPT</th>
                    <th scope="col" data-toggle="tooltip" title="Powerplays">PPs</th>
                    <th scope="col" data-toggle="tooltip" title="Powerplay Effizienz">PP%</th>
                    <th scope="col" data-toggle="tooltip" title="Powerplays pro Spiel">PPpS</th>
                    <th scope="col" data-toggle="tooltip" title="Boxplay Tore">BPG</th>
                    <th scope="col" data-toggle="tooltip" title="Boxplays">BPs</th>
                    <th scope="col" data-toggle="tooltip" title="Boxplay Effizienz">BP%</th>
                    <th scope="col" data-toggle="tooltip" title="Boxplays pro Spiel">BPpS</th>
                    <th scope="col" data-toggle="tooltip" title="Shorthanded Tore">ST</th>
                    <th scope="col" data-toggle="tooltip" title="Shorthanded Gegentore">SG</th>
                    <th scope="col" data-toggle="tooltip" title="Powerplay 1. Drittel">PP_1</th>
                    <th scope="col" data-toggle="tooltip" title="Powerplay 2. Drittel">PP_2</th>
                    <th scope="col" data-toggle="tooltip" title="Powerplay 3. Drittel">PP_3</th>
                    <th scope="col" data-toggle="tooltip" title="Powerplay Overtime">PP_O</th>
                    <th scope="col" data-toggle="tooltip" title="Boxplay 1. Drittel">BP_1</th>
                    <th scope="col" data-toggle="tooltip" title="Boxplay 2. Drittel">BP_2</th>
                    <th scope="col" data-toggle="tooltip" title="Boxplay 3. Drittel">BP_3</th>
                    <th scope="col" data-toggle="tooltip" title="Boxplay Overtime">BP_O</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{article.goals_in_powerplay}}</td>
                    <td>{{article.powerplay}}</td>
                    <td>{{article.powerplay_efficiency[0:5]}}</td>
                    <td>{{article.powerplay_per_game}}</td>
                    <td>{{article.goals_against_in_boxplay}}</td>
                    <td>{{article.boxplay}}</td>
                    <td>{{article.boxplay_efficiency[0:5]}}</td>
                    <td>{{article.boxplay_per_game}}</td>
                    <td>{{article.goals_in_boxplay}}</td>
                    <td>{{article.goals_against_in_powerplay}}</td>
                    <td>{{article.powerplay_first_period}}</td>
                    <td>{{article.powerplay_second_period}}</td>
                    <td>{{article.powerplay_third_period}}</td>
                    <td>{{article.powerplay_overtime}}</td>
                    <td>{{article.boxplay_first_period}}</td>
                    <td>{{article.boxplay_second_period}}</td>
                    <td>{{article.boxplay_third_period}}</td>
                    <td>{{article.boxplay_overtime}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 m-1">
                <h3>Special Tore</h3>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col" data-toggle="tooltip" title="Führungstor">FT</th>
                        <th scope="col" data-toggle="tooltip" title="Ausgleichstor">AT</th>
                        <th scope="col" data-toggle="tooltip" title="Erste Tor im Spiel geschossen">1:0</th>
                        <th scope="col" data-toggle="tooltip" title="Führungsgegentor">FG</th>
                        <th scope="col" data-toggle="tooltip" title="Ausgleichsgegentor">AG</th>
                        <th scope="col" data-toggle="tooltip" title="Erste Tor im Spiel gekriegt">0:1</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{article.leading_goals}}</td>
                        <td>{{article.equalizer_goals}}</td>
                        <td>{{article.first_goal_of_match}}</td>
                        <td>{{article.leading_goals_against}}</td>
                        <td>{{article.equalizer_goals_against}}</td>
                        <td>{{article.first_goal_of_match_against}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            {%if article.tags %}
            <div class="col-lg-5 col-md-5 m-1">
                <h3>Punkte gegen Teams</h3>
                <div>
                    {% for points_team in article.tags %}
                    <div>{{points_team}}</div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            <div class="col-lg-5 col-md-5 m-1">
                <h3>Platzierungsverlauf</h3>
                <div>
                    <img src="{{article.platzierungsverlauf}}" class="img-fluid" />
                </div>
            </div>
        </div>

    </div>
</section>

{% endblock content %}