{% extends "base.html" %}

{% block content %}
<section>
    <div class="container justify-content-center">
        <div class="row mt-3 mb-3">
            <h2>{{ article.title }}</h2>
        </div>
        <div class="row">
            <h3>Tore</h3>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">T</th>
                    <th scope="col">G</th>
                    <th scope="col">TpS</th>
                    <th scope="col">GpS</th>
                    <th scope="col">HT</th>
                    <th scope="col">HG</th>
                    <th scope="col">AT</th>
                    <th scope="col">AG</th>
                    <th scope="col">T_1</th>
                    <th scope="col">T_2</th>
                    <th scope="col">T_3</th>
                    <th scope="col">T_O</th>
                    <th scope="col">G_1</th>
                    <th scope="col">G_2</th>
                    <th scope="col">G_3</th>
                    <th scope="col">G_O</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{article.goals}}</td>
                    <td>{{article.goals_against}}</td>
                    <td>{{article.goals_per_game}}</td>
                    <td>{{article.goals_against_per_game}}</td>
                    <td>{{article.goals_home}}</td>
                    <td>{{article.goals_against_home}}</td>
                    <td>{{article.goals_away}}</td>
                    <td>{{article.goals_against_away}}</td>
                    <td>{{article.goals_in_first_period}}</td>
                    <td>{{article.goals_in_second_period}}</td>
                    <td>{{article.goals_in_third_period}}</td>
                    <td>{{article.goals_in_overtime}}</td>
                    <td>{{article.goals_in_first_period_against}}</td>
                    <td>{{article.goals_in_second_period_against}}</td>
                    <td>{{article.goals_in_third_period_against}}</td>
                    <td>{{article.goals_in_overtime_against}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row" style="margin-top: 20px">
            <h3>Punkte</h3>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">P</th>
                    <th scope="col">PpS</th>
                    <th scope="col">HP</th>
                    <th scope="col">AP</th>
                    <th scope="col">S</th>
                    <th scope="col">U</th>
                    <th scope="col">N</th>
                    <th scope="col">SO</th>
                    <th scope="col">NO</th>
                    <th scope="col">P_20min</th>
                    <th scope="col">P_40min</th>
                    <th scope="col">P_55min</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{article.points}}</td>
                    <td>{{article.points_per_game}}</td>
                    <td>{{article.home_points}}</td>
                    <td>{{article.away_points}}</td>
                    <td>{{article.wins}}</td>
                    <td>{{article.draws}}</td>
                    <td>{{article.losses}}</td>
                    <td>{{article.over_time_wins}}</td>
                    <td>{{article.over_time_losses}}</td>
                    <td>{{article.points_after_first_period}}</td>
                    <td>{{article.points_after_second_period}}</td>
                    <td>{{article.points_after_55_min}}</td>

                </tr>
                </tbody>
            </table>

        </div>

        <div class="row" style="margin-top: 20px">
            <h3>Special Teams</h3>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">PPT</th>
                    <th scope="col">PPs</th>
                    <th scope="col">PP%</th>
                    <th scope="col">PPpS</th>
                    <th scope="col">BPG</th>
                    <th scope="col">BPs</th>
                    <th scope="col">BP%</th>
                    <th scope="col">BPpS</th>
                    <th scope="col">ST</th>
                    <th scope="col">SG</th>
                    <th scope="col">PP_1</th>
                    <th scope="col">PP_2</th>
                    <th scope="col">PP_3</th>
                    <th scope="col">PP_O</th>
                    <th scope="col">BP_1</th>
                    <th scope="col">BP_2</th>
                    <th scope="col">BP_3</th>
                    <th scope="col">BP_O</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{article.goals_in_powerplay}}</td>
                    <td>{{article.powerplay}}</td>
                    <td>{{article.powerplay_efficiency[0:5]}}</td>
                    <td>{{article.powerplay_per_game}}</td>
                    <td>{{article.goals_against_in_boxplay}}</td>
                    <td>{{article.boxplay}}</td>
                    <td>{{article.boxplay_efficiency[0:5]}}</td>
                    <td>{{article.boxplay_per_game}}</td>
                    <td>{{article.goals_in_boxplay}}</td>
                    <td>{{article.goals_against_in_powerplay}}</td>
                    <td>{{article.powerplay_first_period}}</td>
                    <td>{{article.powerplay_second_period}}</td>
                    <td>{{article.powerplay_third_period}}</td>
                    <td>{{article.powerplay_overtime}}</td>
                    <td>{{article.boxplay_first_period}}</td>
                    <td>{{article.boxplay_second_period}}</td>
                    <td>{{article.boxplay_third_period}}</td>
                    <td>{{article.boxplay_overtime}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row" style="margin-top: 20px">
            <div class="col-lg-6">
                <h3>Special Tore</h3>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">FT</th>
                        <th scope="col">AT</th>
                        <th scope="col">1:0</th>
                        <th scope="col">FG</th>
                        <th scope="col">AT</th>
                        <th scope="col">0:1</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{article.leading_goals}}</td>
                        <td>{{article.equalizer_goals}}</td>
                        <td>{{article.first_goal_of_match}}</td>
                        <td>{{article.leading_goals_against}}</td>
                        <td>{{article.equalizer_goals_against}}</td>
                        <td>{{article.first_goal_of_match_against}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            {%if article.tags %}
            <div class="col-lg-6 justify-content-center">
                <h3>Punkte gegen Teams</h3>
                <div>
                    {% for points_team in article.tags %}
                    <div>{{points_team}}</div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>

    </div>
</section>
{% endblock content %}