{% extends "base.html" %}

{% block content %}
<section>
    <div class="container justify-content-center">
        <div class="row mt-5 m-2">
            <h1>Reguläre Saison 2022/23</h1>
        </div>
        <div class="row mt-4 ml-2">
            <h2>Teams</h2>
        </div>
        <div class="row ml-2">

            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Team</th>
                    <th scope="col" data-toggle="tooltip" title="Punkte pro Spiel">PpS</th>
                    <th scope="col" data-toggle="tooltip" title="Tore pro Spiel">TpS</th>
                    <th scope="col" data-toggle="tooltip" title="Gegentore pro Spiel">GpS</th>
                    <th scope="col" data-toggle="tooltip" title="Powerplay Effizienz">PP%</th>
                    <th scope="col" data-toggle="tooltip" title="Boxplay Effizienz">BP%</th>
                    <th scope="col" data-toggle="tooltip" title="Siege">S</th>
                    <th scope="col" data-toggle="tooltip" title="Unentschieden">U</th>
                    <th scope="col" data-toggle="tooltip" title="Niederlagen">N</th>
                    <th scope="col" data-toggle="tooltip" title="Overtime Siege">OS</th>
                    <th scope="col" data-toggle="tooltip" title="Overtime Niederlagen">ON</th>
                </tr>
                </thead>
                <tbody>
                {% for article in articles_page.object_list %}
                {% if article.category == "teams" %}
                <tr>
                    <th scope="row"><a href="{{article.url}}">{{article.team}}</a></th>
                    <td>{{article.points_per_game}}</td>
                    <td>{{article.goals_per_game}}</td>
                    <td>{{article.goals_against_per_game}}</td>
                    <td>{{article.powerplay_efficiency[0:5]}}</td>
                    <td>{{article.boxplay_efficiency[0:5]}}</td>
                    <td>{{article.wins}}</td>
                    <td>{{article.draws}}</td>
                    <td>{{article.losses}}</td>
                    <td>{{article.over_time_wins}}</td>
                    <td>{{article.over_time_losses}}</td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>

        </div>
        <div class="row mt-4 ml-2">
            <h2>Liga</h2>
        </div>
        <div class="row ml-2">
            {% for article in articles_page.object_list %}
            {% if article.category == "liga" %}
            <div class="col-lg-5 mt-4 mr-4 card">
                <a href="{{ SITEURL }}/{{ article.url }}" class="pl-2 pt-2"><h5>{{ article.title }}</h5></a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
<section >
    <div class="glossary container p-3 mt-5 ">
        <h6>Glossar</h6>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <p>PpS: Punkte pro Spiel</p>
                <p>TpS: Tore pro Spiel</p>
                <p>GpS: Gegentore pro Spiel</p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <p>PP%: Powerplay Effizienz</p>
                <p>BP%: Boxplay Effizienz</p>
                <p>S: Siege</p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <p>U: Unentschieden</p>
                <p>N: Niederlagen</p>
                <p>OS: Overtime Siege</p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <p>ON: Overtime Niederlagen</p>
            </div>
        </div>
    </div>

</section>

{% endblock content %}
