{% extends "base.html" %}

{% block content %}
<section>
    <div class="container justify-content-center">
        <div class="row mt-5 m-2"></div>
        <div class="row mt-5 m-2">
            <h1>Saison</h1>
        </div>
        <div class="row ml-2">

            <div class="col-lg-5 mt-4 mr-4 card">
                <a href="{{SITEURL}}/category/22-23-regular-season.html" class="pl-2 pt-2"> <h5>Reguläre Saison 22-23</h5></a>
            </div>
            <div class="col-lg-5 mt-4 mr-4 card">
                <a href="{{SITEURL}}/category/22-23-playoffs.html" class="pl-2 pt-2"> <h5>Playoffs 2022-23</h5></a>
            </div>
        </div>

        <div class="row ml-2">

            <div class="col-lg-5 mt-4 mr-4 card">
                <a href="{{SITEURL}}/category/23-24-regular-season.html" class="pl-2 pt-2"> <h5>Reguläre Saison 23-24</h5></a>
            </div>
            <div class="col-lg-5 mt-4 mr-4 card">
                <a href="{{SITEURL}}/category/23-24-playoffs.html" class="pl-2 pt-2"> <h5>Playoffs 2023-24</h5></a>
            </div>
        </div>

        <!-- Add new seasons here -->
    </div>
</section>
<section >
    <div class="glossary container p-3 mt-5 ">
        <h6>Glossar</h6>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <p>T: Tore</p>
                <p>G: Gegentore</p>
                <p>+/-: Tordifferenz</p>
                <p>TpS: Tore pro Spiel</p>
                <p>GpS: Gegentore pro Spiel</p>
                <p>HT: Heimtore</p>
                <p>HG: Heimgegentore</p>
                <p>AT: Auswärtstore</p>
                <p>AG: Auswärtsgegentore</p>
                <p>T_1: Tore 1. Drittel</p>
                <p>T_2: Tore 2. Drittel</p>
                <p>T_3: Tore 3. Drittel</p>
                <p>T_O: Tore Overtime</p>
                <p>G_1: Gegentore 1. Drittel</p>
                <p>G_2: Gegentore 2. Drittel</p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <p>G_3: Gegentore 3. Drittel</p>
                <p>G_O: Gegentore Overtime</p>
                <p>P: Punkte</p>
                <p>PpS: Punkte pro Spiel</p>
                <p>HP: Heimpunkte</p>
                <p>AP: Auswärtspunkte</p>
                <p>S: Siege</p>
                <p>U: Unentschieden</p>
                <p>N: Niederlagen</p>
                <p>SO: Siege Overtime</p>
                <p>NO: Niederlagen Overtime</p>
                <p>S+1: Siege mit einem Tor Differenz</p>
                <p>N-1: Niederlagen mit einem Tor Differenz</p>
                <p>SR: Scoring Ratio</p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <p>P_20min: Punkte nach 20 min</p>
                <p>P_40min: Punkte nach 40 min</p>
                <p>P_55min: Punkte nach 55 min</p>
                <p>P_58min: Punkte nach 58 min</p>
                <p>P_59min: Punkte nach 59 min</p>
                <p>PPT: Powerplay Tore</p>
                <p>PPs: Powerplays</p>
                <p>PP%: Powerplay Effizienz</p>
                <p>PPpS: Powerplays pro Spiel</p>
                <p>BPG: Boxplay Gegentore</p>
                <p>BPs: Boxplays</p>
                <p>BP%: Boxplay Effizienz</p>
                <p>BPpS: Boxplays pro Spiel</p>
                <p>ST: Shorthanded Tore</p>
                <p>SG: Shorthanded Gegentore</p>

            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <p>PP_1: Powerplay 1. Drittel</p>
                <p>PP_2: Powerplay 2. Drittel</p>
                <p>PP_3: Powerplay 3. Drittel</p>
                <p>PP_O: Powerplay Overtime</p>
                <p>BP_1: Boxplay 1. Drittel</p>
                <p>BP_2: Boxplay 2. Drittel</p>
                <p>BP_3: Boxplay 3. Drittel</p>
                <p>BP_O: Boxplay Overtime</p>
                <p>FT: Führungstor (nur das erste)</p>
                <p>AT: Ausgleichstor</p>
                <p>1:0: Erste Tor im Spiel geschossen</p>
                <p>FG: Führungsgegentor</p>
                <p>AG: Ausgleichsgegentor</p>
                <p>0:1: Erste Tor im Spiel gekriegt</p>
                <p>P*: Punkte knappes Spiel</p>
                <p>S*: Siege knappes Spiel</p>
                <p>N*: Niederlagen knappes Spiel</p>
            </div>
        </div>
    </div>

</section>

{% endblock content %}
